@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --main-blue: #1572A1;
    --main-green: #68EACC;
    --main-grey: #f2f2f2;
    --main-red: #e74c3c;
    --main-white: #fff;
    --sub-blue: #86C6F4;
    --sub-grey: #ccc;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, rgba(13, 40, 77, 0.72) 0%, rgba(233, 216, 216, 0.45) 100%);
    backdrop-filter: saturate(3);
    
}

.conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    align-self: center;
    
}

.conteiner-filho {
    justify-content: center;
    margin: 120px auto;
    max-width: 400px;
    width: 100%;
    border-radius: 10px;
    background: white;
    opacity: 0.8;
    padding: 50px;
}

header h1 {
    font-size: 30px;
    font-weight: 600;

}

#input-text {
    display: flex;
    height: 45px;
    width: 100%;
    margin: 20px 0;
}

input{
    width: 85%;
  height: 100%;
  border: 1px solid var(--sub-grey);
  font-size: 17px;
  border-radius: 3px;
  padding-left: 15px;
}


#lista {
    
    color: white;
    background-color: rgba(3, 58, 95, 0.836);
    height: 250px;
    margin-top: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lista-tarefas {
    color: white;
    justify-content: center;
    text-align: center;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

  
 li:hover {
   background-color: rgba(87, 246, 252, 0.568)
  }
  

.classLista {
    width: 200px;
    list-style: none;
    margin-top: 8px;
}

.selected {
    background-color: rgb(128, 128, 128);
}

.completed {
    text-decoration: line-through solid rgba(0, 0, 0);
    color: aqua;
  }

.bottons {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: row;
    margin:  7px;
    
}

.Adicionar {
    width: 100px;
    margin: 5px;
    font-size: 16px;
    padding: 8px 10px;
    height: 100%;
    border: none;
    border-radius: 3px;
    outline: none;
    background: var(--main-blue);
    color: var(--main-white);
    cursor: pointer;
}


.Remover {
    width: 100px;
    margin: 5px;
    font-size: 16px;
    padding: 8px 10px;
  height: 100%;
  border: none;
  border-radius: 3px;
  outline: none;
  background: var(--main-blue);
  color: var(--main-white);
  cursor: pointer;
}


.Editar {
    width: 100px;
    margin: 5px;
    font-size: 16px;
    padding: 8px 10px;
    font-size: 16px;
    height: 100%;
    border: none;
    border-radius: 3px;
    outline: none;
    background: var(--main-blue);
    color: var(--main-white);
    cursor: pointer;
}


.Sair {
  width: 100px;
  margin: 5px;
  font-size: 16px;
  padding: 8px 10px;
  height: 100%;
  border: none;
  border-radius: 3px;
  outline: none;
  background: var(--main-blue);
  color: var(--main-white);
  cursor: pointer;
}



